<h3>Angular 2 Forms</h3>
<div class="container">
    <form form="ngForm">
        <div class="form-group" style="display:inline-block">
            <datepicker name="startDate" [(ngModel)]="startDate" 
                        [showWeeks]="false" 
                        [datepickerMode]="'month'"
                        [minDate]="minDate"></datepicker>
            <!--Każdy atrybut komponentu, w tym przykładzie ng2-bootstrap nalezy opatrzec w nawiasy [] .
                Jeżeli atrybut ma przyjmować wartość string to warto pamiętać [datepickerMode]="'month'" - dodatkowo jak 
                nie chce się datepicker zmienic na miesiące to oznacza, że w komponencie jest nadana inicjalna data
            -->
        </div>

        <div class="form-group">
                <timepicker name="startTime" [(ngModel)]="startTime" 
                            [showMeridian]="false"
                            [minuteStep]="15"
                            >
                </timepicker>
            </div>
        <!-- <div class="btn-group">
            <label class="btn btn-primary"  [(ngModel)]="radioModel" name="radio-Model">Left</label>
            <label class="btn btn-primary"  [(ngModel)]="radioModel" name="radio-Model">Center</label>
            <label class="btn btn-primary"  [(ngModel)]="radioModel" name="radio-Model">Right</label>
        </div> -->

        <div class="form-group">
            <rating name="postRating" [(ngModel)]="postRating" 
            [max]="100"
            [stateOn]="'glyphicon-check'"
            [stateOff]="'glyphicon-unchecked'"
            (onHover)="hover($event)"
            (onLeave)="leave($event)">

            </rating>

        </div>
        <h3>{{postRating}}</h3>

        <!-- <div class="form-group">
            <button type="button" name="onOffSwitch" [(ngModel)]="onOffSwitch" 
                    class="btn"
                    [class.btn-primary]="onOffSwitch === 'On'"
                    btnCheckBox
                    btnCheckboxTrue="On"
                    btnCheckBoxFalse="Off"    
                    >{{onOffSwitch}}            
                </button>
        </div> -->

    </form>
    <h3>{{ startDate}}</h3>
</div>